{% extends 'base.html' %}
{% block content %}
<a class="btn btn-secondary btn-sm mb-3" href="{% url 'polls:index' %}">Back To Polls</a>
<h1 class="text-centre mb-3">{{ question.question_text }}</h1>

{% if error_message %}
<p class="alert alert-danger">
    <strong>{{ error_message }}</strong>
</p>
{% endif %}

<from action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        <div class="from-check">
            <input
                type="radio"
                name="choice"
                class="from-check-input"
                id="choice{{ forloop.counter }}"
                value="{{ choice.id }}"
            />
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
        </div>
    {% endfor %}
    <input
        type="submit"
        value="Vote"
        class="btn btn-success btn-lg btn-black mt-4"
    />
</from>
{% endblock %}